header{
    background-color: red;

}

head{
    background-color: blue;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

li{
    background-color: red;
    display: inline;
    font-style:oblique;
}

footer{
    background-color:yellowgreen;
    display: inline;
    margin: 2px;
    padding: 2px;

}
MAIN{
    background-color: rgb(14, 166, 204);
    width: 100vw;
    height: 100vw;
}
h1{
    background-color: rgb(red, green, blue);
}
